---
import { parseISO, format } from "date-fns";

const { article } = Astro.props;
const date = parseISO(article.postedAt);
const formattedDate = format(date, "MMMM d, yyyy");
---

<article class="w-full flex flex-col justify-start items-start gap-4">
  <img
    class="w-full rounded-3xl"
    src={`${article.image.filename}/m/343x256`}
    alt={article.image.alt}
  />

  <div class="self-stretch flex flex-col justify-start items-start gap-4">
    <div class="text-gray-500 text-xs font-normal font-['Inter'] leading-tight">
      {formattedDate}
    </div>
    <div class="text-zinc-800 text-xl font-semibold font-['Inter'] leading-7">
      {article.title}
    </div>

    <div class="border-b border-zinc-800 flex items-center gap-1">
      <a
        href={`/articles/${article.slug}`}
        class="font-semibold text-blue-600 hover:underline"
        title="read more"
      >
        Read More
      </a>
    </div>
  </div>
</article>
